<a href="https://colab.research.google.com/github/RafaelNovais/MasterAI/blob/master/MovieClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Movie Analysis

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


ratings = pd.read_csv("drive/MyDrive/Master/Courses/Movie/ratings.csv")
movies = pd.read_csv("drive/MyDrive/Master/Courses/Movie/movies.csv")
tags = pd.read_csv("drive/MyDrive/Master/Courses/Movie/tags.csv")

print(ratings)
print(movies)
print(tags)





ratings.rating.describe()

rating_mean = ratings.groupby("movieId").mean()["rating"]

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]
      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]
      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [ ]:
rating_mean.plot(kind='hist')

In [ ]:
sns.distplot(rating_mean, bins=10)

In [ ]:
ratings.rating.std() #standard deviation

In [ ]:
#tags.tag.unique()# return distinct
#tags.tag.drop_duplicates # remove duplicates
#tags[tags['tag']== 'funny'] # Filter Funny

tags[(tags['userId']>= 100) & (tags['userId']<= 500)] # Filter between  | or

In [ ]:
rating_mean.to_csv('drive/MyDrive/Master/Courses/Movie/RatingMean.csv') #export data

In [ ]:
#tags[tags['tag'].isnull()] # return null values
#tags.dropna(subset=['tag'],  implace = True) # delete null values, implace to apply the changes in tags directly
#del tagsd['timestemp'] # delete timestemp
#tags.pop('timestemp') # delete timestemp
#tags.drop(['timestemp', 'tag'], axis=1) delete column timestemp and tag, axis=0 row

select = (tags['tag'] == 'funny') # set all funny in select
nofunny = tags[~select] # remove all funnys from tags ~not in

tags.fillna({'tag':0, 'timestamep': 0})  # fill an NA with 0

In [ ]:
#tags[score] = tags[tag] + tags['movieId'] # creating a new column with sum 2 other
#group = tags.groupby('tag') #group by a column
#data.groupby(['company_location', 'job_title' ])[['salary_in_usd']].mean().round(2) # duble groupby
#group.groups # show all the results are in each group

for bairro, dados in group
  print('{} -> {}'.format(bairro,dados.valor.mean).round(2))

groups_quartos = [0,2,4,6,100]
quartos = pd.cut(dados.quartos,groups_quartos) # agrupa e conta os quarto de 0a2 2a4 ...
pd.value_counts(quartos)
#casa = ['casa', 'casa de comdominio', 'casa de vila']
#dados['tipo agregado'] = dados['tipo'].apply(lambda x: 'casa' if x in casa else 'apartament') # lamba function to run each line